.changePasswordForm{
    background-color: white;
    text-align: center;
    visibility: hidden;
    background-color: #1C2237;
    color: white;
    grid-column: 5/11;
    grid-row:3/6;
    padding: 10% 5% 2% 5% 
   
    
}
.cpfields{
    padding-left: 30%;
}
.buttonrow1{
    padding-top:3%;
    padding-left:33%;
}
@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .changePasswordForm{
        background-color: white;
        text-align: center;
        position: absolute;
       top: 20%;
        left: 15%;
        
    }

  }