@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

#logoBlock1 {
  float: left;

  margin-top: 0%;
  align-items: center;
  text-align: center;
  width: 50%;
  background: #1c2237;
 padding-bottom:1.5%;
}

.heading1 {
  font-weight: bold;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.mb-3 {
  color: white;
}
#loginBlock {
  float: right;
  padding: 2%;
  width: 50%;
  font-family: "Poppins", sans-serif;

  background-color: #1c2237;
  padding-top: 2.2%;
  padding-bottom:6.5%;
}
.container1{
  background-color: #1c2237;
  padding: 1rem 0 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Imagel{
  max-width: 75%;
  margin-top: 10%;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10%;
  padding-right: 0;
}

#captcha-img {
  background-color: rgb(119, 119, 119);
  border-color: #ffffff;
  width: 120px;
  height: 35px;

  font-size: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#login-button {
  border: none;
  height: 40px;
  width: 100px;
  margin-top: 3.2%;
  font-size: larger;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  background-color: #4481eb;
  color: white;
}

input[data-state="invalid"] {
  border-color: hsl(0, 76%, 50%);
}

input[data-state="valid"] {
  border-color: hsl(120, 76%, 50%);
}

#error {
  margin: auto;

  outline: none;
  border-color: red;
  box-shadow: 0 0 10px #ee3629;
}

#error-captcha {
  outline: none;
  border-color: red;
  box-shadow: 0 0 10px #ee3629;
}
#loginbox {
  margin-top: 15%;
}
#buttonArea {
  text-align: center;
}


@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  .container1{
    flex-direction: column;
  }
  #logoBlock1 {
    width: 100%;
  }
  #loginBlock {
    width: 100%;
  }
  .button {
    height: 30px;
  }
  .heading1 {
    font-size: 30px;
  }
  #captcha {
    width: 50%;
  }
}
